* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

$gray-dark: #aeaeae;
$gray: #CCCCCC;
$yellow: #FFFF1F;
$yellow-light: #D6D145;

body{
    background-color: $gray;

    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 130vh;
    
        #formulario{
            background-color: $yellow;
            border-radius: 15px;
            width: 400px;
            height: 550px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 20px;
            
            h1{
                margin-bottom: 20px;
            }

            .form-group{
                margin: 10px;
                display: flex;
                flex-direction: column;

                label{
                    font-size: 18px;
                }

                .input{
                    width: 300px;
                    height: 30px;
                    border: solid 2px $gray-dark;
                    border-radius: 5px;
                    padding-left: 10px;
                    margin-top: 5px;
                    color: rgb(55, 55, 55);
                }

                .input:focus{
                    background-color: $yellow-light;
                }
            }

            .btn-group{
                margin-top: 10px;
                
                .botao{
                    width: 80px;
                    height: 30px;
                    border-radius: 5px;
                    border: none;
                    cursor: pointer;
                    transition: 0.6s;
                }

                .botao:hover{
                    background-color: $gray-dark;
                }
            }
        }

        #resultado{
            margin-top: 30px;
            border: 2px solid rgb(121, 121, 121);
            width: 400px;
            border-radius: 8px;

            h2{
                padding-left: 20px;
            }

            .pessoa{
                padding: 0.6rem;
            }

            .pessoa:nth-child(odd){
                background-color: rgb(130, 130, 130);
            }

        }
    }
}
